__pycache__
*.rar

# skip large weights file
*.pt
*.tar*

# skip notebook checkpoints
.ipynb_checkpoints
.virtual_documents

# skip dataset images
coin-annotations-pascalvoc
coin-images-labels-yolo

/Tensorflow
/cocoapi